* {
    margin: 0;

    background-image: url(/assets/images/782301-large-neutral-backgrounds-2560x1440.jpg);
}

/* images */
.images{
    padding-top: 10px;
    padding-left: 10px;
    
}

/* headlines */
.headlines{
    margin: auto;

    font-style: arial;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    background-image: url(/assets/images/abstract-blue-geometric-shapes-background_1035-17545.jpg);
    max-width: max-content;

    border-style: solid;
    border-width: 3px;
    border-color: black;
    
}
#id1{
  color: red;
}
#id2{
    color: orange;
}
#id3{
    color: yellow;
}
#id4{
    color: green;
}
#id5{
    color: blue;
}
#id6{
    color: blueviolet;
}


/* special */

[special]{
    display: flex;
    justify-content: space-between;
}

[special__item]{
    width: 24%;
    padding-top: 10px;
    border-top: 3px solid #333;
    border-bottom: 3px dotted darkblue;

    font-size: 25px;
    text-shadow: crimson;
    text-decoration: none;
    color: white;

    transition: color .2s linear;
}
[special__item]:hover {
    color: rgb(30, 247, 59);
}