*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(/assets/img/pc/background3.jpg);
}

p{
    text-indent: 20px;
}

/*          header          */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
}
.nav__itm a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: black;
    font-weight: 700;
    -webkit-text-stroke: .7px white;
}

/*          main             */

.main{
    padding: 50px 10px 40px;
    
}
/* .main__top__itm, .main__center__itm, .main__bm__itm{ */
    /* border: 1px solid #000; */
/* } */
.main__center, .main__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*          main__top            */

.main__top__itm{
    background-color: rgba(240, 128, 128, 0.2);
}

/*          main__center              */

.main__center{
    padding: 50px 0px 50px;
}

.main__center__itm{
    width: 24%;
}
.main__center__itm:nth-child(1){
    background-color: rgba(173, 216, 230, 0.2);
}
.main__center__itm:nth-child(2){
    background-color: rgba(144, 238, 144, 0.2);
}
.main__center__itm:nth-child(3){
    background-color: rgba(255, 255, 224, 0.2);
}
.main__center__itm:nth-child(4){
    background-color: rgb(235, 143, 227, 0.2);
}

/*          .main__bottom */

.main__bm__itm{
    width: 48%;
}
.main__bm__itm:nth-child(1){
    background-color: rgba(255, 215, 0, 0.2);
}
.main__bm__itm:nth-child(2){
    background-color: rgba(32, 178, 170, 0.2);
}

/*      mobile       */



/*      tablet       */
@media screen and (max-width: 768px){
    body{
        background-image: url(/assets/img/tablet/background2.jpg);
    }
    .nav, .main__center, .main__bottom{
        flex-wrap: wrap;
    }
    .main__top__itm, .main__center__itm, .main__bm__itm{
            flex: 1 0 50%;

            font-size: 20px;
            color: white;
    }
}
@media screen and (max-width: 480px){
    body{
        background-image: url(/assets/img/phone/background2.jpg);
    }
    .nav__itm a{
        font-size: 45px;
    }
    .nav__itm{
        text-align: right;
    }
    .nav, .main__center, .main__bottom{
        flex-wrap: wrap;
    }

    .nav__itm, .main__top__itm, .main__center__itm, .main__bm__itm{
        flex: 1 0 100%;

        font-size: 24px;
        color: white;

    }
}